<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvfTVUC_aW0kzP1ZaOt0dlgPSsf4bt5U4</string>
	<key>GCM_SENDER_ID</key>
	<string>109079720173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Docufy.Complexity</string>
	<key>PROJECT_ID</key>
	<string>complexity-b02d9</string>
	<key>STORAGE_BUCKET</key>
	<string>complexity-b02d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109079720173:ios:efa1d427e162a8dabddce4</string>
</dict>
</plist>